DATABASE_URL="postgresql://postgres:postgres@db:5432/fake_markets?schema=public"
AUTH_SECRET="replace-this-with-at-least-32-random-characters"
APP_URL="http://localhost:3000"
DEFAULT_ADMIN_EMAIL="admin@example.test"
DEFAULT_ADMIN_NAME="Rochester Admin"
DEFAULT_ADMIN_PASSWORD="ChangeMeFake123!"
